*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/image\ \(3\).png');
    height: 793px;
    background-color:rgba(0, 0, 0, 0.295);
    padding: 40px;
    height: 50px;
    border: 40px;
}

.fa-solid{
    font-size: 40px;
}

.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar {
    display: flex;
    padding: 5px 30px;
    flex-direction: row;
    justify-content:space-between
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 30px;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

 /* CAIXA DE TEXTO*/
input {
    
    background-color: rgb(255, 254, 254);
    font-size: 25px;
    height: 50px;
    border: 40px;
    border-radius: 20px;
}

button {
    padding: 10px;

}