*{
    padding: ;
    margin: ;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

span{
display: block;

}

button{
    padding: 10px;
    border-radius: 60px;
    color: rgb(5, 5, 5);
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border: 60px;
    background-color: white;
}

